<h1>Initiate Emergency mode on your mobile phone remotely</h1>
<p>You can use Emergency mode to reduce the power consumption of your device and prolong the battery life.
     If the device that you have been registered as a guardian for must remain active for an extended period of time, activate Emergency mode on that device. Emergency mode will reduce the screen brightness and disable most of the apps and functions on the target device, extending the battery life.</p>
<img src="images/emergency.jpg" alt="">