<div> {{vm.message}}</div>
<div> Here is what you can do</div>
<div>
	<ul>
		<li><a href="#lockMyDevice.html">Lock My device</a></li>
		<li><a href="#ringMyDevice.html">Ring My Device</a></li>
		<li><a href="#callLogs.html">Check the call logs</a></li>
		<li><a href="#wipeDeviceData.html">Wipe Device Data</a></li>
		<li><a href="#simChangeAlert.html">Sim Change Alert</a></li>
		<li><a href="#emergencyMode.html">Initiate Emergency Mode</a></li>
		<li><a href="#ImeiSearch.html">Tracking your phone by IMEI</a></li>
		<li><a href="#theftReport.html">Log theft report</a></li>
	</ul>
</div>

